<div class="bar bar-header bar-light">
  <h1 class="title">Pick Order</h1>
</div>

<div class="content has-header">
  <br/>
  <p class="text-center">Each player should press their button starting with the first player or you can
    manually pick them from the list.</p>

  <div class="list">
    {{#each player in players}}
      <a class="item item-icon-right" {{action 'pickPlayer' player}}>
        {{player.name}}
        {{#if player.hasPressed}}
          <i class="ion-ios7-checkmark icon"></i>
        {{else}}
          <i class="ion-ios7-checkmark-outline icon"></i>
        {{/if}}
      </a>
    {{/each}}
  </div>
  {{#if orderSet}}
    <div class="button button-full button-positive" {{action 'start'}}>Start Game</div>
  {{/if}}
</div>








