<div class="bar bar-header bar-light">
  <h1 class="title">Pick Order</h1>
</div>

<div class="content has-header">
  <br/>
  <p class="text-center">Each player should press their button starting with the first player.</p>

  <div class="list">

    {{#each player in players}}
      <div class="item item-icon-right">
        {{player.name}}
        {{#if player.hasPressed}}
          <i class="ion-ios7-checkmark icon"></i>
        {{else}}
          <i class="ion-ios7-checkmark-outline icon"></i>
        {{/if}}
      </div>
    {{/each}}
  </div>
  {{#if orderSet}}
    <div class="button button-full button-positive" {{action 'start'}}>Start Game</div>
  {{/if}}
</div>








