<div class="bar bar-header bar-light">
  <h1 class="title">{{gameStatus}}</h1>
</div>

<div class="content has-header">

  It is Ryan's turn.


  <div class="card">
    <div class="item item-text-wrap">
      32.00 seconds
    </div>
  </div>



  <table>
    <tbody>
      <tr>
        <td>Total</td>
        <td>100 seconds</td>
      </tr>
      <tr>
        <td>Average</td>
        <td>10 seconds</td>
      </tr>
      <tr>
        <td>Turns</td>
        <td>4</td>
      </tr>
    </tbody>
  </table>

  <button class="button button-positive">Pause Game</button>
  <button class="button button-assertive">End Game</button>

</div>








