<h2>Player Name</h2>
{{input type="text" value=name placeholder="Ryan"}}

<br/>
<br/>

{{#if bound}}
  <div class="btn btn-success" {{action 'save'}}>Save</div>
{{else}}
  Press your button {{name}}
{{/if}}