<div class="bar bar-header bar-light">
  <h1 class="title">Add Player</h1>
</div>

<div class="content has-header">
  <form {{action 'save' on='submit'}}>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Player Name</span>
        {{input type="text" value=name required=true}}
      </label>
    </div>

    {{#if bound}}

      <p class="text-center">The player has pressed their button.</p>
      <div class="large-icon">
        <i class="ion-ios7-lightbulb icon"></i>
      </div>

      <button type="submit" class="button button-positive button-full">Save</button>
    {{else}}
      <p class="text-center">The new player can now press their button.</p>

      <div class="large-icon">
        <a {{action 'fakeButton'}} class="no-underline">
          <i class="ion-ios7-lightbulb-outline icon"></i>
        </a>
      </div>
    {{/if}}
  </form>
</div>

