<div class="text-center">
  {{#link-to 'game' 'new'}}
    <div class="btn btn-primary btn-lg">New Game</div>
  {{/link-to}}
  <br/>
  <br/>
  <div class="btn btn-warning btn-lg" {{action 'disconnect'}}>Disconnect</div>
  <br/>
  <br/>
  {{#link-to 'debug'}}
    <div class="btn btn-default btn-lg">Debug</div>
  {{/link-to}}
</div>