<div class="bar bar-header bar-light">
  <h1 class="title">Connect to BGTimer</h1>
</div>

<div style="display: none">
  {{connectionStatus}}
</div>

{{#if connecting}}
  <div class="bar bar-subheader">
    <h2 class="title">Connecting...</h2>
  </div>
{{/if}}

{{#if connected}}
  <div class="bar bar-subheader">
    <h2 class="title">Connected</h2>
  </div>
{{/if}}

{{#if scanning}}
  <div class="bar bar-subheader">
    <h2 class="title">Scanning...</h2>
  </div>

  <div class="content has-header has-subheader">
    {{#if devices.length}}
      <div class="list list-inset">
        {{#each device in devices}}
          {{#if device.name.length}}
            <div class="item item-button-right" {{action 'connect' device}}>
              {{device.name}}
              <button class="button button-positive">
                <i class="icon ion-bluetooth"></i>
              </button>
            </div>
          {{/if}}
        {{/each}}

        <div class="item item-button-right" {{action 'connect' 'demo'}}>
          Demo
          <button class="button button-positive">
            <i class="icon ion-bluetooth"></i>
          </button>
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}